[Locations]
# Path to loadout config from runner
looks_config = wildfireAppearance.cfg

# Path to module from runner
python_file = wildfire.py

# Name that will be displayed in game
name = Grabby

[Bot Parameters]
java_executable_path = ../Wildfire/bin/Wildfire.bat

[Details]
# These values are optional but useful metadata for helper programs
# Name of the bot's creator/developer
developer = r0bbi3

# Short description of the bot
description =

# Fun fact about the bot
fun_fact =

# Link to github repository
github =

# Programming language
language = java
