build
__pycache__

Template/
Wildfire (Wintertide v0.25)/
Wildfire (League Play Week 2)/

Wildfire (ELO Defender v0.1).zip
Wildfire (ELO Defender v0.2).zip
Wildfire (ELO Defender v0.3).zip
Wildfire (Wintertide v0.1).zip
Wildfire (Wintertide v0.2).zip
Wildfire (League Play Week 1).zip